<h1>Discount Info</h1>

<section id='info'>
  <p>Name: <%= @discount.name %></p>
  <p>Threshold: <%= @discount.threshold %></p>
  <p>Percent Discount: <%= @discount.percent_discount %>%</p>
</section>
