<h1>Discount Info</h1>

<section id='info'>
  <p>Name: <%= @bulk_discount.name %></p>
  <p>Threshold: <%= @bulk_discount.threshold %></p>
  <p>Percent Discount: <%= @bulk_discount.percent_discount %>%</p>
</section>
